openapi: 3.1.0
info:
  title: Call Queues
  version: '1.8'
servers:
  - url: 'https://integrate.versature.com'
paths:
  /api/call_queues/agent/status:
    put:
      tags:
      - CallQueuesAgents
      summary: 'returns an agents statusRate Limit: 3/second, 20/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: ''
  /api/call_queues/{queue}/agents:
    get:
      tags:
      - CallQueuesAgents
      summary: 'Get details about the agents in a Call QueueRate Limit: 2/second,
        5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to log into. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/agents/{agent}/devices/{device}/login:
    put:
      tags:
      - CallQueuesAgents
      summary: 'Log a agent&#39;s device into a call queue.Rate Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to log into. '
      - name: agent
        in: path
        required: true
        type: string
        description: 'The user that is being signed in. Must be the owner of the device. '
      - name: device
        in: path
        required: true
        type: string
        description: 'The device to log into this queue. (Must start with sip:) '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: ''
  /api/call_queues/agent/login:
    put:
      tags:
      - CallQueuesAgents
      summary: 'Log a agent&#39;s device into a call queue.Rate Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: ''
  /api/call_queues/{queue}/agents/{agent}/devices/{device}/logout:
    put:
      tags:
      - CallQueuesAgents
      summary: 'Log a agent&#39;s device out of a call queue.Rate Limit: 2/second,
        5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to log out of. '
      - name: agent
        in: path
        required: true
        type: string
        description: 'The user that is being logged out. Must be the owner of the
          device. '
      - name: device
        in: path
        required: true
        type: string
        description: 'The device to log into this queue. (Must start with sip:) '
      - in: body
        name: Call_Queue_LogoutBody
        description: 'Log a agent&#39;s device out of a call queue.Rate Limit: 2/second,
          5/minute '
        required: true
        schema:
          $ref: #/definitions/Call_Queue_LogoutBody
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: ''
  /api/call_queues/agent/logout:
    put:
      tags:
      - CallQueuesAgents
      summary: 'Log a agent&#39;s device out of a call queue.Rate Limit: 2/second,
        5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: Call_Queue_LogoutBody
        description: 'Log a agent&#39;s device out of a call queue.Rate Limit: 2/second,
          5/minute '
        required: true
        schema:
          $ref: #/definitions/Call_Queue_LogoutBody
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: ''
  /api/call_queues/{queue}:
    get:
      tags:
      - CallQueues
      summary: 'Get a list of call queues in a domain. If provided the queue will
        be used to get the details for a          specific Call Queue. Rate Limit:
        2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The Call Queue to retrieve the records for. i.e. 8000 '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: number
  /api/call_queues/{queue}/reports/abandoned_calls:
    get:
      tags:
      - CallQueuesReports
      summary: 'Get a report indicating the volume of calls which were abandoned.Rate
        Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get details for. Will get all call queues
          if an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/reports/dialled_numbers:
    get:
      tags:
      - CallQueuesReports
      summary: 'Get a report indicating the number of calls handled by the call queues
        split into periods/ranges.Rate Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get details for. Will get all call queues
          if an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - name: period
        in: query
        required: true
        type: string
        description: 'Split the resulting values into this period. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: number
  /api/call_queues/{queue}/reports/splits:
    get:
      tags:
      - CallQueuesReports
      summary: 'Get a report indicating the number of calls handled by the call queues
        split into periods/ranges.Rate Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get details for. Will get all call queues
          if an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - name: period
        in: query
        required: true
        type: string
        description: 'Split the resulting values into this period. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: number
  /api/call_queues/{queue}/reports/terminating_agents:
    get:
      tags:
      - CallQueuesReports
      summary: 'Get a report indicating the volume of calls handled by the agents
        of the call queues.Rate Limit: 2/second, 5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get details for. Will get all call queues
          if an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - name: period
        in: query
        required: true
        type: string
        description: 'Split the resulting values into this period. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: number
  /api/call_queues/{queue}/agents/stats:
    get:
      tags:
      - CallQueuesStats
      summary: 'Get the stats for agents for one or more call queues.Rate Limit: 2/second,
        2/minuteNote: For this release please limit request data to at most a 10 hour
        interval. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get stats for. Will get all call queues if
          an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/stats:
    get:
      tags:
      - CallQueuesStats
      summary: 'Get the current stats for one or more call queues.Rate Limit: 2/second,
        5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get stats for. Will get all call queues if
          an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/agents/stats/inbound:
    get:
      tags:
      - CallQueuesStats
      summary: 'Get the inbound stats for agents for one or more call queues.Rate
        Limit: 2/second, 5/minuteNote: This does not work for 1.7.0 or higher, also
        for this release please limit request data to at most a 10 hour interval. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get stats for. Will get all call queues if
          an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/stats/live:
    get:
      tags:
      - CallQueuesStats
      summary: 'Get the current stats for one or more call queues.Rate Limit: 2/second,
        5/minute '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get details for. Will get all call queues
          if an id is not specified. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  /api/call_queues/{queue}/agents/stats/outbound:
    get:
      tags:
      - CallQueuesStats
      summary: 'Get the outbound stats for agents for one or more call queues.Rate
        Limit: 2/second, 2/minuteNote: This does not work for 1.7.0 or higher, For
        this release please limit request data to at most a 10 hour interval. '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: queue
        in: path
        required: true
        type: string
        description: 'The call queue to get stats for. Will get all call queues if
          an id is not specified. '
      - name: start_date
        in: query
        required: true
        type: string
        description: 'Statistics will begin from this point '
      - name: end_date
        in: query
        required: true
        type: string
        description: 'Statistics will end at this point. '
      - $ref: ../models/accept.header.v1.yaml
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization value. Generally &quot;Bearer ACCESSTOKEN&quot; '
      responses:
        '200':
          description: Success
          schema:
            type: string
  
components:
  schemas:
    Call_Queue_LogoutBody:
    properties:
      mode:
        type: string
        description: 'The status of the agent to be set when signing out of a queue. '
    
